---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import GalleryMaterialsStructure from "../components/Gallery-materials-structure.astro";

const cards = [
    {
        image: "/assets/granito/Amarello.jpg",
        title: "Amarello",
        href: "/material/Amarello",
    },
    {
        image: "/assets/granito/Azul-Labrador.jpg",
        title: "Azúl Labrador",
        href: "/material/Azul Labrador",
    },
    {
        image: "/assets/granito/Blanco-Brasil.jpg",
        title: "Blanco Brasil",
        href: "/material/Blanco Brasil",
    },
    {
        image: "/assets/granito/Blanco-Siena.jpg",
        title: "Blanco Siena",
        href: "/material/Blanco Siena",
    },
    {
        image: "/assets/granito/Delicatus.jpg",
        title: "Delicatus",
        href: "/material/Delicatus",
    },
    {
        image: "/assets/granito/Gris-Mara.jpg",
        title: "Gris Mara",
        href: "/material/Gris Mara",
    },
    {
        image: "/assets/granito/Gris-Perla-Salmon.jpg",
        title: "Gris Perla Salmón",
        href: "/material/Gris Perla Salmón",
    },
    {
        image: "/assets/granito/Gris-Perla.jpg",
        title: "Gris Perla",
        href: "/material/Gris Perla",
    },
    {
        image: "/assets/granito/Marron-Absoluto.jpg",
        title: "Marrón Absoluto",
        href: "/material/Marrón Absoluto",
    },
    {
        image: "/assets/granito/Marron-Cafe.jpg",
        title: "Marrón Café",
        href: "/material/Marrón Café",
    },
    {
        image: "/assets/granito/Marron-Coco.jpg",
        title: "Marrón Coco",
        href: "/material/Marrón Coco",
    },
    {
        image: "/assets/granito/Marron-Orcollano.jpg",
        title: "Marrón Orcollano",
        href: "/material/Marrón Orcollano",
    },
    {
        image: "/assets/granito/Negro-Boreal-Dorado.jpg",
        title: "Negro Boreal Dorado",
        href: "/material/Negro Boreal Dorado",
    },
    {
        image: "/assets/granito/Negro-Boreal.jpg",
        title: "Negro Boreal",
        href: "/material/Negro Boreal",
    },
    {
        image: "/assets/granito/Negro-Brasil.jpg",
        title: "Negro Brasil",
        href: "/material/Negro Brasil",
    },
    {
        image: "/assets/granito/Negro-Zulu.jpeg",
        title: "Negro Zulú",
        href: "/material/Negro Zulú",
    },
    {
        image: "/assets/granito/Rojo-Dragon.jpg",
        title: "Rojo Dragón",
        href: "/material/Rojo Dragón",
    },
    {
        image: "/assets/granito/Rojo-Multicolor.jpg",
        title: "Rojo Multicolor",
        href: "/material/Rojo Multicolor",
    },
    {
        image: "/assets/granito/Rosa-del-Salto.jpg",
        title: "Rosa del Salto",
        href: "/material/Rosa del Salto",
    },
    {
        image: "/assets/granito/San-Felipe.jpg",
        title: "San Felipe",
        href: "/material/San Felipe",
    },
    {
        image: "/assets/granito/Sierra-Chica.jpg",
        title: "Sierra Chica",
        href: "/material/Sierra Chica",
    },
    {
        image: "/assets/granito/Verde-Acuario.jpg",
        title: "Verde Acuario",
        href: "/material/Verde Acuario",
    },
    {
        image: "/assets/granito/Verde-Butterfly.jpg",
        title: "Verde Butterfly",
        href: "/material/Verde Butterfly",
    },
    {
        image: "/assets/granito/Verde-San-Francisco.jpg",
        title: "Verde San Francisco",
        href: "/material/Verde San Francisco",
    },
    {
        image: "/assets/granito/Verde-Ubatuba.jpg",
        title: "Verde Ubatuba",
        href: "/material/Verde Ubatuba",
    },
    {
        image: "/assets/granito/Via-Lactea.jpg",
        title: "Vía Láctea",
        href: "/material/Vía Láctea",
    },
];
---

<Layout
    title="Marmoleria Verona • Granitos"
    description="Marmolería Verona, líder en Buenos Aires en la provisión de mármoles y granitos de alta calidad. Ofrecemos una amplia gama de productos, desde granitos auténticos hasta mármoles elegantes y superficies de cuarzo premium como Silestone o Purastone. Nuestros materiales nacionales e importados realzan cualquier espacio, brindando belleza y durabilidad. Visítanos para descubrir la perfecta fusión entre belleza y resistencia."
>
    <main>
        <Navbar />
        <GalleryMaterialsStructure
            title="Granitos"
            body="El granito se forma a partir del enfriamiento lento del magma bajo la superficie terrestre, lo que permite la cristalización de minerales como cuarzo, feldespato y mica. Este proceso geológico dura millones de años y resulta en una roca extremadamente dura y resistente. Una vez formado, el granito se extrae de canteras en grandes bloques y se corta en losas. Luego, estas losas se pulen y se adaptan a las medidas y especificaciones de cada proyecto, ofreciendo una combinación única de belleza y durabilidad para tu hogar."
            cards={cards}
        />
        <Footer />
    </main>
</Layout>
