---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Landing from "../components/Landing.astro";
import Card from "../components/Card.astro";
import ProductCard from "../components/ProductCard.astro";
import Granite from "../../public/assets/Granite-Block.png";
import Marble from "../../public/assets/Marble-Block.png";
import Purastone from "../../public/assets/Purastone-Block.png";
import Silestone from "../../public/assets/Silestone-Block.png";
import Contact from "../components/Contact.astro";
import Banner from "../components/Banner.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout
	title="Marmoleria Verona • Home"
	description="Marmolería Verona, líder en Buenos Aires en la provisión de mármoles y granitos de alta calidad. Ofrecemos una amplia gama de productos, desde granitos auténticos hasta mármoles elegantes y superficies de cuarzo premium como Silestone o Purastone. Nuestros materiales nacionales e importados realzan cualquier espacio, brindando belleza y durabilidad. Visítanos para descubrir la perfecta fusión entre belleza y resistencia."
>
	<main>
		<Navbar />
		<Landing />
		<section class="pt-20 pb-24 bg-slate-950">
			<div class="container px-4 mx-auto">
				<div class="text-center">
					<h2
						class="mb-12 text-4xl lg:text-8xl text-white tracking-7xl md:max-w-md mx-auto"
						id="titleMateriales"
					>
						Nuestros Materiales
					</h2>
				</div>
				<div class="flex flex-wrap m-4">
					<Card
						linkImagen={Granite.src}
						altImagen="Bloque Granitos"
						href="./"
						title="Granitos"
					/>
					<Card
						linkImagen={Marble.src}
						altImagen="Bloque Marmol"
						href="#"
						title="Marmoles"
					/>
					<Card
						linkImagen={Purastone.src}
						altImagen="Bloque Purastone"
						href="#"
						title="Purastone"
					/>
					<Card
						linkImagen={Silestone.src}
						altImagen="Bloque Silestone"
						href="#"
						title="Silestone"
					/>
				</div>
			</div>
		</section>
		<Contact />
		<Footer />
	</main>
</Layout>
