---
import Navbar from "../components/Navbar.astro";
import Banner from "../components/Banner.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import ProductsSection from "../components/Products-Section.astro";
import Form from "../components/Form.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout title="Marmoleria Verona">
	<Navbar />
	<main>
		<ProductsSection />
		<Banner />
		<Form />
		<FAQ />
	</main>
	<Footer />
</Layout>
