---

---

<div
    class="px-3 md:lg:xl:px-40 border-t py-20 bg-opacity-10 dark:bg-opacity-90 w-dvw"
>
    <div
        class="grid grid-cols-1 md:lg:xl:grid-cols-3 group bg-white shadow-xl shadow-black-500 border rounded-lg"
    >
        <div
            class="p-10 flex flex-col items-center text-center group md:lg:xl:border-r md:lg:xl:border-b"
        >
            <span
                class="p-5 rounded-full bg-yellow-400 text-white shadow-lg shadow-black-200"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="1.5"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                    ></path>
                </svg></span
            >
            <p class="text-xl font-medium text-slate-700 mt-3">
                Experiencia en el sector
            </p>
            <p class="mt-2 text-sm text-slate-500">
                Somos una empresa familiar con 60 años de experiencia en el
                sector.
            </p>
        </div>

        <div
            class="p-10 flex flex-col items-center text-center group md:lg:xl:border-r md:lg:xl:border-b"
        >
            <span
                class="p-5 rounded-full bg-yellow-400 text-white shadow-lg shadow-black-200"
            >
                <svg
                    class="h-10 w-10"
                    fill="#ffffff"
                    viewBox="-0.23 0 16 16"
                    id="branch-16px"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <path
                            id="Path_194"
                            data-name="Path 194"
                            d="M-12.5-96h-7A1.5,1.5,0,0,0-21-94.5v3a.5.5,0,0,0,.5.5.5.5,0,0,0,.5-.5v-3a.5.5,0,0,1,.5-.5h7a.5.5,0,0,1,.5.5V-81h-2v-3.5a.5.5,0,0,0-.5-.5h-3a.5.5,0,0,0-.5.5V-81h-1.5a.5.5,0,0,0-.5.5.5.5,0,0,0,.5.5H-11V-94.5A1.5,1.5,0,0,0-12.5-96ZM-17-81v-3h2v3Zm0-10h-2v-2h2Zm4,0h-2v-2h2Zm-2,2h2v2h-2Zm-3.755,2H-17v-2h-2v1.526a4.023,4.023,0,0,0-.646-.88,4.042,4.042,0,0,0-5.708,0,4.042,4.042,0,0,0,0,5.708l2.5,2.5A.5.5,0,0,0-22.5-80a.5.5,0,0,0,.354-.146l2.5-2.5A4.041,4.041,0,0,0-18.755-87ZM-22.5-81.207l-2.146-2.147a3.037,3.037,0,0,1,0-4.292,3.024,3.024,0,0,1,2.146-.888,3.024,3.024,0,0,1,2.146.888,3.037,3.037,0,0,1,0,4.292ZM-21-85.5A1.5,1.5,0,0,1-22.5-84,1.5,1.5,0,0,1-24-85.5,1.5,1.5,0,0,1-22.5-87,1.5,1.5,0,0,1-21-85.5Z"
                            transform="translate(26.534 96)"></path>
                    </g></svg
                >
            </span>
            <p class="text-xl font-medium text-slate-700 mt-3">
                Expansión y Crecimiento
            </p>
            <p class="mt-2 text-sm text-slate-500">
                Contamos con dos sucursales y estamos en proceso de crecimiento.
            </p>
        </div>

        <div
            class="p-10 flex flex-col items-center text-center group md:lg:xl:border-b"
        >
            <span
                class="p-5 rounded-full bg-yellow-400 text-white shadow-lg shadow-black-200"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="1.5"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
                    ></path>
                </svg></span
            >
            <p class="text-xl font-medium text-slate-700 mt-3">
                Soporte Completo
            </p>
            <p class="mt-2 text-sm text-slate-500">
                De la Idea a la Realidad, Nuestro Compromiso a tu lado en Cada
                Etapa de tu Proyecto.
            </p>
        </div>

        <div
            class="p-10 flex flex-col items-center text-center group md:lg:xl:border-r"
        >
            <span
                class="p-5 rounded-full bg-yellow-400 text-white shadow-lg shadow-black-200"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="1.5"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                </svg></span
            >
            <p class="text-xl font-medium text-slate-700 mt-3">
                Optimización Continua
            </p>
            <p class="mt-2 text-sm text-slate-500">
                Invertimos Constantemente en una Experiencia de Usuario Superior
                para Garantizar su Plena Satisfacción.
            </p>
        </div>

        <div
            class="p-10 flex flex-col items-center text-center group md:lg:xl:border-r"
        >
            <span
                class="p-5 rounded-full bg-yellow-400 text-white shadow-lg shadow-black-200"
            >
                <svg
                    class="h-10 w-10"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="#ffffff"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                        <path
                            d="M2 10H22"
                            stroke="#ffffff"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M11.5502 20.4998H6.44025C2.89025 20.4998 1.99023 19.6198 1.99023 16.1098V7.88977C1.99023 4.70977 2.73026 3.68977 5.52026 3.52977C5.80026 3.51977 6.11025 3.50977 6.44025 3.50977H17.5502C21.1002 3.50977 22.0002 4.38977 22.0002 7.89977V12.3098"
                            stroke="#ffffff"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            opacity="0.4"
                            d="M6 16H10"
                            stroke="#ffffff"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            opacity="0.4"
                            d="M22 18C22 18.75 21.79 19.46 21.42 20.06C20.73 21.22 19.46 22 18 22C16.54 22 15.27 21.22 14.58 20.06C14.21 19.46 14 18.75 14 18C14 15.79 15.79 14 18 14C20.21 14 22 15.79 22 18Z"
                            stroke="#ffffff"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            opacity="0.4"
                            d="M16.4395 18L17.4294 18.99L19.5594 17.02"
                            stroke="#ffffff"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </g></svg
                >
            </span>

            <p class="text-xl font-medium text-slate-700 mt-3">
                Facilidades de pago
            </p>
            <p class="mt-2 text-sm text-slate-500">
                Te ofrecemos diversas formas de pago a la medida de tus
                posibilidades.
            </p>
        </div>

        <div class="p-10 flex flex-col items-center text-center group">
            <span
                class="p-5 rounded-full bg-yellow-400 text-white shadow-lg shadow-black-200"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="1.5"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
                    ></path>
                </svg></span
            >
            <p class="text-xl font-medium text-slate-700 mt-3">
                Garantía de Calidad
            </p>
            <p class="mt-2 text-sm text-slate-500">
                Garantía de Excelencia en Todos Nuestros Productos.
            </p>
        </div>
    </div>
</div>
