<section class="relative pt-24 pb-36 bg-white overflow-hidden" id="contacto">
    <div class="relative z-10 container px-4 mx-auto">
        <h2 class="text-center text-4xl tracking-tight" id="titleContact">
            Contactanos
        </h2>
        <div class="flex flex-wrap m-3 text-center">
            <div class="w-full md:w-1/2 lg:w-1/3 p-3">
                <div class="p-11 h-1/3 text-center bg-white bg-opacity-90">
                    <div
                        class="mb-6 relative mx-auto w-16 h-16 bg-yellow-400 border border-blueGray-200 rounded-full"
                    >
                        <div
                            class="absolute left-1/2 top-1/2 transform -translate-y-1/2 -translate-x-1/2"
                        >
                            <svg
                                width="32"
                                height="33"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M23.5431 22.7091C22.1797 24.0725 19.192 27.0602 17.4133 28.8389C16.6323 29.62 15.3693 29.6203 14.5883 28.8392C12.8393 27.0903 9.91373 24.1647 8.45818 22.7091C4.29259 18.5435 4.29259 11.7898 8.45818 7.62419C12.6238 3.4586 19.3775 3.4586 23.5431 7.62419C27.7087 11.7898 27.7087 18.5435 23.5431 22.7091Z"
                                    stroke="white"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path
                                    d="M20.0007 15.1667C20.0007 17.3758 18.2098 19.1667 16.0007 19.1667C13.7915 19.1667 12.0007 17.3758 12.0007 15.1667C12.0007 12.9575 13.7915 11.1667 16.0007 11.1667C18.2098 11.1667 20.0007 12.9575 20.0007 15.1667Z"
                                    stroke="white"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                    <h3
                        class="mb-3 text-xl font-bold font-heading leading-snug"
                    >
                        Direcciones
                    </h3>
                    <a
                        href="https://www.google.com/maps?q=Juan+Bautista+Alberdi+3333"
                        class="hover:underline"
                        target="_blank"
                    >
                        <p class="text-gray-600 dark:text-slate-400">
                            <span class="font-semibold">Fabrica: </span>Juan
                            Bautista Alberdi 3333
                        </p>
                    </a>

                    <a
                        href="https://www.google.com/maps?q=Juan+Bautista+Alberdi+3778"
                        class="hover:underline"
                        target="_blank"
                    >
                        <p class="text-gray-600 dark:text-slate-400">
                            <span class="font-semibold">Local: </span>Juan
                            Bautista Alberdi 3778
                        </p></a
                    >
                    <p class="text-gray-600 dark:text-slate-400">
                        Ciudad Autónoma de Buenos Aires, Argentina
                    </p>
                </div>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 p-3">
                <div class="p-11 h-full text-center bg-white bg-opacity-90">
                    <div
                        class="mb-6 relative mx-auto w-16 h-16 bg-yellow-400 bg-yellow-400 border border-blueGray-200 rounded-full"
                    >
                        <div
                            class="absolute left-1/2 top-1/2 transform -translate-y-1/2 -translate-x-1/2"
                        >
                            <svg
                                width="32"
                                height="33"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M4 7.16667C4 5.69391 5.19391 4.5 6.66667 4.5H11.039C11.6129 4.5 12.1224 4.86724 12.3039 5.4117L14.301 11.4029C14.5108 12.0324 14.2258 12.7204 13.6324 13.0172L10.6227 14.522C12.0923 17.7816 14.7184 20.4077 17.978 21.8773L19.4828 18.8676C19.7796 18.2742 20.4676 17.9892 21.0971 18.199L27.0883 20.1961C27.6328 20.3776 28 20.8871 28 21.461V25.8333C28 27.3061 26.8061 28.5 25.3333 28.5H24C12.9543 28.5 4 19.5457 4 8.5V7.16667Z"
                                    stroke="white"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                    <h3
                        class="mb-3 text-xl font-bold font-heading leading-snug"
                    >
                        Telefonos
                    </h3>
                    <p class="font-medium leading-relaxed">
                        <p class="text-gray-600 dark:text-slate-400">
                            <a
                                href="https://wa.me/1159906984?text=Hola,%20vengo%20desde%20la%20pagina%20web,%20tengo%20una%20consulta!"
                                class="hover:underline"
                                target="_blank"
                                ><span class="font-semibold">Fabrica: </span><i
                                    class="fa-brands fa-whatsapp"></i> 11 5990-6984</a
                            >
                        </p>
                    </p>

                    <p class="text-gray-600 dark:text-slate-400">
                        <a
                            href="https://wa.me/1162922173?text=Hola,%20vengo%20desde%20la%20pagina%20web,%20tengo%20una%20consulta!"
                            class="hover:underline"
                            target="_blank"
                        >
                            <span class="font-semibold">Local: </span><i
                                class="fa-brands fa-whatsapp"></i> 11 6292-2173</a
                        >
                    </p>
                </div>
            </div>
            <div class="w-full md:w-3/3 lg:w-1/3 p-3">
                <div class="p-11 h-full text-center bg-white bg-opacity-90">
                    <div
                        class="mb-6 relative mx-auto w-16 h-16 bg-yellow-400 rounded-full"
                    >
                        <div
                            class="absolute left-1/2 top-1/2 transform -translate-y-1/2 -translate-x-1/2"
                        >
                            <svg
                                width="32"
                                height="33"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M4 11.1666L14.5208 18.1805C15.4165 18.7776 16.5835 18.7776 17.4792 18.1805L28 11.1666M6.66667 25.8333H25.3333C26.8061 25.8333 28 24.6394 28 23.1666V9.83329C28 8.36053 26.8061 7.16663 25.3333 7.16663H6.66667C5.19391 7.16663 4 8.36053 4 9.83329V23.1666C4 24.6394 5.19391 25.8333 6.66667 25.8333Z"
                                    stroke="white"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                    <h3
                        class="mb-3 text-xl font-bold font-heading leading-snug"
                    >
                        Email
                    </h3>
                    <p class="text-gray-600 dark:text-slate-400">
                        <a
                            href="mailto:marmoleriaverona@gmail.com"
                            class="hover:underline"
                            target="_blank"
                            ><i class="fa-solid fa-reply"></i> marmoleriaverona@gmail.com</a
                        >
                    </p>
                    <p class="text-gray-600 dark:text-slate-400">
                        <a
                            href="mailto:localverona@hotmail.com"
                            class="hover:underline"
                            target="_blank"
                            ><i class="fa-solid fa-reply"></i> localverona@hotmail.com</a
                        >
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="flex flex-col lg:flex-row">
                <div class="md:w-full pr-0">
                    <form
                        class="mx-auto max-w-lg"
                        method="POST"
                        action=""
                        id="myForm"
                    >
                        <div class="mb-4">
                            <label
                                for="name"
                                class="block mb-2 text-gray-500 font-semibold"
                                >Nombre:</label
                            >
                            <input
                                type="text"
                                id="name"
                                name="name"
                                class="w-full px-4 py-3 rounded-lg border-gray-300 focus:border-blue-500 focus:ring-blue-500"
                                required
                            />
                        </div>
                        <div class="mb-4">
                            <label
                                for="email"
                                class="block mb-2 text-gray-500 font-semibold"
                                >Correo electrónico:</label
                            >
                            <input
                                type="email"
                                id="email"
                                name="email"
                                class="w-full px-4 py-3 rounded-lg border-gray-300 focus:border-blue-500 focus:ring-blue-500"
                                required
                            />
                        </div>
                        <div class="mb-4">
                            <label
                                for="message"
                                class="block mb-2 text-gray-500 font-semibold"
                                >Mensaje:</label
                            >
                            <textarea
                                id="message"
                                name="message"
                                rows="4"
                                class="w-full px-4 py-3 rounded-lg border-gray-300 focus:border-blue-500 focus:ring-blue-500"
                                required></textarea>
                        </div>

                        <div class="mb-4">
                            <label
                                for="branch"
                                class="block mb-2 text-gray-500 font-semibold"
                                >Seleccione la sucursal a enviar email:</label
                            >
                            <select
                                id="branch"
                                name="branch"
                                class="w-full px-4 py-3 rounded-lg border-gray-300 focus:border-blue-500 focus:ring-blue-500"
                                required
                            >
                                <option value="random">Cualquiera</option>
                                <option value="fabrica">Fabrica</option>
                                <option value="local">Local</option>
                            </select>
                        </div>
                        <div class="text-left">
                            <button
                                type="submit"
                                class="inline-block px-6 py-3 mt-4 mb-8 text-lg font-medium text-white bg-yellow-400 rounded-lg hover:bg-yellow-600 focus:outline-none focus:bg-yellow-600"
                                >Enviar mensaje</button
                            >
                        </div>
                    </form>
                </div>
                <p
                    class="p-4 text-md md:w-full mb-20 text-lg text-gray-600 md:p-4 font-medium leading-normal lg:text-normal"
                >
                    En ambas sucursales, podrá solicitar su presupuesto o
                    realizar la compra con total comodidad. En caso de retiro de
                    mercaderia, los invitamos a hacerlo en el depósito de
                    fábrica (Juan Bautista alberdi 3333), de lunes a viernes, en
                    horario continuo de 9:00 a 12:00 y de 14:00 a 16:30, y los
                    sábados de 9:30 a 11:30.
                </p>
            </div>
        </div>
    </div>
</section>
<style>
    #titleContact {
        font-family: "San Francisco Display Semibold";
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById("myForm") as HTMLFormElement;
        var branchSelect = document.getElementById(
            "branch",
        ) as HTMLSelectElement;

        branchSelect.addEventListener("change", function () {
            var selectedBranch = branchSelect.value;
            var actionUrl;

            if (selectedBranch === "fabrica") {
                actionUrl =
                    "https://formsubmit.co/598925dc175719608d3758e9a52fef0b";
            } else if (selectedBranch === "local") {
                actionUrl = "https://formsubmit.co/localverona@hotmail.com";
            } else {
                var random = Math.random();
                if (random < 0.5) {
                    actionUrl =
                        "https://formsubmit.co/598925dc175719608d3758e9a52fef0b";
                } else {
                    actionUrl = "https://formsubmit.co/localverona@hotmail.com";
                }
            }

            form.action = actionUrl;
        });
    });
</script>
