---
import TitleContact from "./TitleContact.astro";
---

<TitleContact />

<div class="bg-slate-50 h-fit w-dvw flex flex-col justify-start" id="contacto">
    <div class="form w-6/12 mx-auto mb-8">
        <form class="mt-14" action="#">
            <div class="relative mb-6">
                <label
                    for="nombre"
                    class="flex items-center mb-2 text-gray-600 text-sm font-medium"
                >
                    Nombre
                </label>
                <input
                    type="text"
                    id="nombre"
                    name="nombre"
                    class="block w-full h-11 px-5 py-2.5 leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
                    placeholder="Nombre"
                    required
                />
            </div>
            <div class="relative mb-6">
                <label
                    for="email"
                    class="flex items-center mb-2 text-gray-600 text-sm font-medium"
                >
                    Email
                </label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    class="block w-full h-11 px-5 py-2.5 leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none"
                    placeholder="ejemplo@gmail.com"
                    required
                />
            </div>
            <div class="relative mb-6">
                <label
                    for="mensaje"
                    class="flex items-center mb-2 text-gray-600 text-sm font-medium"
                >
                    Mensaje:
                </label>
                <div class="flex mb-6">
                    <div class="relative w-full">
                        <textarea
                            id="mensaje"
                            name="mensaje"
                            class="block w-full h-40 px-4 py-2.5 text-base leading-7 font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none resize-none"
                            placeholder="Ingrese su Mensaje..."></textarea>
                    </div>
                </div>
                <div class="relative mb-2">
                    <button
                        id="upload-button"
                        type="button"
                        class="block w-fit h-fit px-5 leading-7 text-base font-normal shadow-xs text-gray-700 bg-gray-200 border border-gray-300 rounded-lg hover:bg-slate-400 hover:text-slate-50 transition-all duration-700 lg:w-3/12"
                        onclick="document.getElementById('file-upload').click();"
                    >
                        Subir Archivo
                    </button>
                    <input
                        type="file"
                        id="file-upload"
                        name="file-upload"
                        class="opacity-0 absolute"
                        accept="image/jpeg, image/jpg, image/png, application/pdf"
                    />

                    <span id="file-name" class="ml-2 text-gray-900"></span>
                </div>
                <div id="feedback" class="text-green-600"></div>
            </div>
            <button
                type="submit"
                class="w-fit h-fit h-8 px-5 sm:w-6/12 lg:w-3/12 bg-yellow-400 hover:bg-yellow-600 transition-all duration-700 rounded-lg shadow-xs text-white text-base font-semibold leading-6"
            >
                Enviar Mensaje
            </button>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const fileInput = document.getElementById(
            "file-upload",
        ) as HTMLInputElement;
        const feedback = document.getElementById("feedback");

        fileInput.addEventListener("change", function () {
            if (fileInput.files && fileInput.files.length > 0) {
                feedback.textContent = "Archivo cargado con éxito";
                feedback.classList.add("text-green-600");
            } else {
                feedback.textContent = "";
            }
        });
    });
</script>

<style>
    #title {
        font-family: "San Francisco Display Semibold";
    }

    @media (min-width: 1024px) {
        #title {
            margin-left: 25%;
        }
    }
</style>
