<div class="Landing w-dvw h-screen flex flex-col items-center">
    <h1
        class="text-3xl mt-8 md:text-5xl lg:text-6xl text-white text-center md:mt-8 lg:mt-8 xl:mt-20 font-bold"
        id="mainTitle"
    >
        MARMOLERÍA VERONA
    </h1>
    <p
        class="subtitle text-center text-white font-normal text-base md:text-3xl lg:text-3xl xl:mt-4"
    >
        Transformando espacios, dando vida a tus proyectos
    </p>
    <a href="#contacto"
        ><button
            class="mt-4 px-4 py-2 rounded-full border border-yellow-400 text-yellow-400 bg-black hover:bg-yellow-500 hover:text-white transition-colors duration-50 ease-in-out"
        >
            Contáctanos
        </button></a
    >
</div>

<style>
    .subtitle {
        font-family: "San Francisco Display Ultralight";
    }
    #mainTitle {
        font-family: "San Francisco Display Semibold";
    }
    .Landing {
        background-image: url("/assets/Landing01.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
