<div class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="container mx-auto p-8 bg-white shadow-lg rounded-lg mb-16 mt-8">
        <h1 class="text-3xl font-bold text-center mb-4">Nosotros</h1>
        <p class="text-gray-700 leading-relaxed text-justify mb-8">
            Somos una empresa familiar con décadas de experiencia en el sector,
            en el cual proveemos materiales de primera calidad. Ofrecemos
            asistencia integral a nuestros clientes y reinvertimos en tecnología
            y capacitación de nuestros empleados para ofrecerle los mejores
            productos y servicios para su obra. Nuestra misión es proporcionar a
            nuestros clientes los mejores materiales y servicios, asegurando que
            cada proyecto sea realizado con la máxima precisión y cuidado. Nos
            esforzamos por innovar y mejorar continuamente para satisfacer las
            necesidades de nuestros clientes. Contamos con un equipo de
            profesionales altamente capacitados y apasionados por lo que hacen.
            La formación continua y la actualización en las últimas tecnologías
            nos permiten ofrecer soluciones innovadoras y eficientes.
        </p>
        <div class="space-y-12">
            <div class="flex flex-col md:flex-row items-center md:space-x-6">
                <img
                    src="/assets/foto-portada.jpg"
                    alt="Nuestra Historia"
                    class="w-full md:w-1/2 rounded-lg shadow-md mb-4 md:mb-0"
                />
                <div>
                    <h2 class="text-3xl font-semibold text-gray-900 mb-2">
                        Historia
                    </h2>
                    <p class="text-gray-700 leading-relaxed text-justify">
                        Fundada hace más de 50 años, nuestra marmolería ha
                        crecido y evolucionado con el tiempo. Empezamos como un
                        pequeño taller y hoy somos una de las empresas líderes
                        en el sector, conocida por nuestra dedicación y
                        compromiso con la calidad. Nos ubicamos en la zona
                        comercial de Alberdi 3333 y también nos hemos expandido
                        con otra sede en Alberdi 3778.
                    </p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row items-center md:space-x-6">
                <div>
                    <h2 class="text-3xl font-semibold text-gray-900 mb-2">
                        Valores
                    </h2>
                    <p class="text-gray-700 leading-relaxed text-justify">
                        Nos guiamos por valores como la integridad, la
                        excelencia y el compromiso con nuestros clientes.
                        Creemos en el trabajo bien hecho y en la satisfacción
                        del cliente como nuestra mayor recompensa.
                    </p>
                </div>
                <img
                    src="/assets/sede-2.jpg"
                    alt="Nueva Sede"
                    class="w-full md:w-1/2 rounded-lg shadow-md mb-4 md:mb-0"
                />
            </div>
        </div>
    </div>
</div>
