---

---

<div
    class="products-section h-screen w-screen bg-slate-50 flex flex-col md:flex-row justify-start items-start"
>
    <h2 id="title" class="pt-4 ml-4 md:ml-40 mt-4 sm:mt-20 text-4xl">
        Nuestros productos
    </h2>
    <div class="linkMasMateriales mt-4 mr-48 md:mt-0 md:ml-auto sm:mt-2">
        <a href="" class="md:mr-18">
            <p
                id="texto"
                class="text-right mt-4 sm:mt-28 hover:underline text-yellow-500"
            >
                Ver todos los productos<i
                    class="fa-solid fa-chevron-right hover:none pl-1"></i>
            </p>
        </a>
    </div>
</div>

<style>
    #title {
        font-family: "San Francisco Display Semibold";
    }
    #texto {
        font-family: "San Francisco Display Ultralight";
    }
</style>
