<div
    class="products-section bg-slate-50 h-fit w-dvw flex flex-col justify-start items-start py-8"
>
    <h2
        id="titleMateriales"
        class="pt-4 ml-12 sm:ml-28 md:ml-12 lg:ml-12 xl:ml-16 text-4xl tracking-tight"
    >
        Nuestros Materiales
    </h2>
</div>

<style>
    #titleMateriales {
        font-family: "San Francisco Display Semibold";
    }
</style>
