<div class="products-section bg-slate-50 h-fit w-dvw py-8">
    <h2 id="titleMateriales" class="pt-4 text-center text-4xl tracking-tight">
        Nuestros Materiales
    </h2>
</div>

<style>
    #titleMateriales {
        font-family: "San Francisco Display Semibold";
    }
</style>
