---
import CarrouselCards from "./Carrousel-Cards.astro";
---

<div
    class="products-section bg-slate-50 h-fit w-dvw flex flex-col justify-start items-start"
>
    <h2 id="title" class="pt-4 ml-12 sm:ml-28 md:ml-12 lg:ml-28 text-4xl">
        Nuestros Materiales
    </h2>
</div>

<CarrouselCards />

<style>
    #title {
        font-family: "San Francisco Display Semibold";
    }
</style>
