<div class="bg-gray-200 py-8">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold text-center mb-4">Nuestros Servicios</h2>
        <ul class="list-disc pl-6">
            <li class="mb-4">
                <span class="font-semibold">Cortes en general</span>
            </li>
            <li class="mb-4">
                <span class="font-semibold">Cortes de porcelanato</span>
            </li>
            <li class="mb-4">
                <span class="font-semibold"
                    >Trabajos con materiales suministrados por el cliente</span
                >
            </li>
            <li class="mb-4">
                <span class="font-semibold">Asesoramiento integral</span>
            </li>
            <li class="mb-4">
                <span class="font-semibold"
                    >Terminaciones tradicionales y artesanales</span
                >
            </li>
            <li>
                <span class="font-semibold">Envíos a todo el país</span>
            </li>
        </ul>
    </div>
</div>
