<div class="bg-slate-50 h-fit w-dvw flex flex-col justify-start items-start">
    <h2
        id="titleContact"
        class="pt-4 ml-12 sm:ml-28 md:ml-12 lg:ml-12 xl:ml-20 text-4xl"
    >
        Contacto
    </h2>
</div>
